.parallax-container{
    grid-area: main-slider;
    height: 100% !important;
}
.parallax{
    height: 100% !important;
}
.title-principal{
    position: absolute;
    top: 220px;
    left: 50px;
    text-align: left;
    width: 450px;
    z-index: 5;
    color:#fff;
}