@import url('https://fonts.googleapis.com/css?family=Cardo:400i&display=swap');

.nav-wrapper{
    background-color: #000;
}

nav{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 30;
    box-shadow: none !important;
}

nav ul a:hover{
    background-color: none;
}
#nav-mobile{
    display: block;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand-logo, #nav-mobile li a{
    text-decoration: none;
    color: #c1c1c1;
    transition: color 0.4s ease;
    margin: 0 15px;
}

#nav-mobile li a {
    font-family: 'Petit Formal Script', cursive !important;
    font-size: 17px;
    border-left: 2px solid #000;
    transition: all .4s ease;
}

.brand-logo:hover, #nav-mobile li a:hover{
    text-decoration: none;
    color: #fff;
    border-left: 2px solid #5C5C5C !important;
    padding-left: 16px !important;
}

nav .brand-logo {
    position:unset;
    float: left !important;
    margin-left: 35px;
}
a.active, #nav-mobile li a.active:hover{
    border-left: 2px solid #A76CC7 !important;
    padding-left: 16px !important;
}
/*responsive*/
@media (max-width: 375px){
    nav{width: 375px;}
}